

  <!-- Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo-title">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Hemant Tyre Zone Logo" class="logo" />
        <span class="site-title">Hemant Tyre Zone</span>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="{{url_for('main')}}">Home</a></li>
          <li><a href="{{url_for('about')}}">About Us</a></li>
          <li><a href="{{url_for('services')}}">Services</a></li>
          <li><a href="{{url_for('contact')}}">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>